:root {
  --player_h: 2rem;
  --player_color: #41ba41;
}

.prog_range {
  width: calc(100% - 10px);
  height: calc(var(--player_h) / 2);
  margin: 0 5px;
  position: relative;
  display: flex;
  align-items: center;
}

.prog_range-progress {
  width: calc(100% - (var(--player_h) / 2));
  height: calc(var(--player_h) * 0.1);
  margin: 0 calc(var(--player_h) / 4);
  border: none;
  border-radius: var(--player_h);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.prog_range-progress::-webkit-progress-value {
  background-color: var(--player_color);
}

.prog_range-progress::-webkit-progress-bar {
  height: calc(var(--player_h) * 0.1);
  border-radius: var(--player_h);
}

.prog_range-progress::-moz-progress-bar {
  height: calc(var(--player_h) * 0.1);
  background-color: var(--player_color);
  border-radius: var(--player_h);
}

.prog_range-range {
  width: 100%;
  margin: 0;
  position: absolute;
  z-index: 1;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
}

.prog_range-range::-moz-range-track {
  height: calc(var(--player_h) / 2);
  background-color: transparent;
  cursor: pointer;
}

.prog_range-range::-webkit-slider-runnable-track {
  height: calc(var(--player_h) / 2);
  background-color: transparent;
  cursor: pointer;
}

.prog_range-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: calc(var(--player_h) / 2);
  height: calc(var(--player_h) / 2);
  background-color: var(--player_color);
  border: none;
  border-radius: 50%;
}

.prog_range-range::-moz-range-thumb {
  width: calc(var(--player_h) / 2);
  height: calc(var(--player_h) / 2);
  background-color: var(--player_color);
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.audio_player {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  display: flex;
}

%btn-shared {
  width: var(--player_h);
  height: var(--player_h);
  padding: 0;
  border-radius: 50%;
  border: 2px solid var(--player_color);
  background-color: transparent;
  color: var(--player_color);
  font-weight: bolder;
  font-size: calc(var(--player_h) / 2.5);
  cursor: pointer;
  transition: border-width 0.5s, background-color 0.5s;

  &:hover {
    border-width: 4px;
  }

  &:disabled {
    color: gray;
    border: 2px solid gray;
  }

  &:active {
    color: white;
    background-color: var(--player_color);
    transition: border-width 0.2s, background-color 0.2s, color 0.2s;
  }
}

.audio_player--play_btn {
  @extend %btn-shared;
}

.audio_player--time_seek {
  height: 100%;
  margin-top: calc(var(--player_h) / 4);
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.audio_player--time_section {
  width: 100%;
  padding: 0 calc(var(--player_h) / 4) 0;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  font-size: calc(var(--player_h) * 0.5);
}

.audio_player--mute_btn {
  @extend %btn-shared;

  &-muted {
    @extend %btn-shared;
    background-color: red;
  }
}

.audio_player--volume {
  width: calc(var(--player_h) * 3);
  margin-top: calc(var(--player_h) / 4);
}
